@import './base.css';

@theme {
  --color-background: var(--color-background);
  --color-border: var(--color-border);

  --color-heading: var(--color-heading);
  --color-text: var(--color-text);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
